NODE_ENV=
PORT=
MONGODB_URI=

JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiIxMjM0NSIsInJvbGUiOiJhZG1pbiIsImlhdCI6MTc3MTQzMTczOCwiZXhwIjoxNzcxNDM1MzM4fQ.HTuWjrdOjkGui7j-trG51vZF5iGksx-q1BwO-f6W14Q
JWT_EXPIRES_IN=
